[submodule "source/dnf5"]
	path = source/dnf5
	url = https://github.com/rpm-software-management/dnf5.git
[submodule "source/libsolv"]
	path = source/libsolv
	url = https://github.com/openSUSE/libsolv.git
[submodule "source/librepo"]
	path = source/librepo
	url = https://github.com/rpm-software-management/librepo.git
[submodule "source/libcomps"]
	path = source/libcomps
	url = https://github.com/rpm-software-management/libcomps.git
[submodule "source/zchunk"]
	path = source/zchunk
	url = https://github.com/zchunk/zchunk.git
